@import 'https://www.1001fonts.com/download/font/barlow-condensed.thin.ttf';
@import url('https://fonts.cdnfonts.com/css/oswald-4');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cedarville+Cursive&family=Delius&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parkinsans:wght@300..800&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cedarville+Cursive&family=Delius&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parkinsans:wght@300..800&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cedarville+Cursive&family=Delius&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }

  .opensans {
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
.oswald {
    font-family: 'Oswald', sans-serif;
    font-family: 'Oswald Regular', sans-serif;
    font-family: 'Oswald Stencil', sans-serif;

}
.barlow {
    font-family: "Barlow Condensed", serif;
  font-weight: 700;
  font-style: normal;

}

@media (min-width: 768px) {
    nav {
        width: 100%;
    }
}
.slider {
    width: 200px !important;
}

.carousel-container {
    width: 80%;
    margin: auto;
}

.testimonial-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 388px !important;
    background-color: red;

}
.slick-track {
    width: 1200px;
}
.author-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.author-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testi-text {
    font-style: italic;
}

::selection {
    color: white; 
    background-color: #242424;
  }
  


.button-jittery {
    animation: jittery 4s infinite;
    z-index: 9
}
@keyframes jittery {
    5%,50% {
        transform: scale(1)
    }

    10% {
        transform: scale(.9)
    }

    15% {
        transform: scale(1.15)
    }

    20% {
        transform: scale(1.15) rotate(-5deg)
    }

    25% {
        transform: scale(1.15) rotate(5deg)
    }

    30% {
        transform: scale(1.15) rotate(-3deg)
    }

    35% {
        transform: scale(1.15) rotate(2deg)
    }

    40% {
        transform: scale(1.15) rotate(0)
    }
}


@media (max-width: 768px) {
    .hide {
        display: none;
    }
    .show {
        width: 100vw;
        padding: 0;
        img {
            width: 100%;
            height: auto;
        }
    }
}




.thumbs, .animated {
    display: none;
}

.custom-font {
    font-family:  sans-serif;
    font-size: 1.01rem;
    margin: 10px 0px 5px;
    color: #212121;
    min-height: 23px;
}

.sec-head {
    position: relative;
    margin: 0 auto;
}


.register {
    animation: popup 3s  5s infinite ease-in-out;
    animation-delay: 5s;
}

@keyframes popup {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    30% {
        transform: rotate(-35deg);
    }
    40% {
        transform: rotate(35deg);
    }
    100% {
        transform: scale(0.8);
    }
}

.carousel {
    z-index: 10 !important;
}

.pink-purple {
    background-image: linear-gradient(45deg, rgba(212,33,196,1) 45%, rgba(141,0,255,1) 100%) !important;
}